%h3 Congratulations!
%p
  You just shared your third place on Coworfing.com
%p 
  To reward you, we just gave you access to the private places.
%p
  You can now go to private places by clicking on the "Make a demand" buttons.
%p
  Enjoy the coworfing experience!
%p
  Love