!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Doidelidooo!
    %p
      Guess what?

    %p
      A user just posted a comment about your place.
    %p
      True story dude.
    %p
      Log in to http://coworfing.com and check what's being said... 

    %p

    %p
      Thanks for using Coworfing and have a great day!
     
    %p
      Lot's of love.