!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Doidelidooo!
    %p
      Guess what?

    %p
      Your coworfing request has been accepted.
    %p
      True story dude.
    %p
      Now get in touch with your coworfer by mail to set the details of your session!

    %p

    %p
      Thanks for using Coworfing and have a great day!

    %p
      Lot's of love.
