!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Doidelidooo!
    %p
      Guess what?

    %p
      Someone wants to coworf with you.
    %p
      True story dude.
    %p
      To accept or reject this request, log in to coworfing.com and go to "Your requests", under "log as you" on the top-end of your screen.

    %p

    %p
      Thanks for joining and have a great day!

    %p
      Lot's of love.
