!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      New Request at coworfing.com
    %p
      There is a new request for you at coworfing.com
    %p Thanks for joining and have a great day!
