!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Doidelidooo!
    %p
      There is a new request for you at coworfing.com
    %p
      True story dude.
    %p
      To find out who wants to coworf with you, log in to coworfing.com and go to "Your requests", under "log as you" on the top-end of your screen. 

    %p

    %p
      Thanks for joining and have a great day!
     
    %p
      Lot's of love.
