.hero-unit
  %h2= title "Our Worfers"
.row
  .span12
    %ul.thumbnails
      - @featured.each do |user|
        = render partial: 'user_avatar', locals: { user: user }

.row
  .span12
    %ul.thumbnails
      - @rest.each do |user|
        = render partial: 'user_avatar', locals: { user: user }

= content_for :javascript do
  %script
    $("img.lazy").lazyload();
