.hero-unit
  %h2 Our Worfers
.row
  .span12
    %ul.thumbnails
      - @featured.each do |user|
        = render user

.row
  .span12
    %ul.thumbnails
      - @rest.each do |user|
        = render user 
  
= content_for :javascript do
  %script
    $("img.lazy").lazyload();
