.hero-unit
.row
  .span12
    %ul.thumbnails
      - @users.each do |user|
        %li.span2
          .thumbnail
            = link_to profile_path(user.username || user.id) do
              = image_tag('person.png', class: 'lazy', 'data-original' => avatar_url(user.email, width: 131), width: 131 , height: 131)
              
.row
  .span12.graded
  
= content_for :javascript do
  %script
    $("img.lazy").lazyload();
