.hero-unit
  %h2= title "Our Worfers"
  %p You have to be logged in to see all the profiles
%hr
.row
  .span12
    %ul.thumbnails
      - @users.each do |user|
        = render partial: 'user_avatar', locals: { user: user }