#demand.modal.hide.fade.in 
  = simple_form_for(Demand.new, html: { class: 'form-horizontal' }) do |f|
    .modal-header
      %a.close{href:'#', :'data-dismiss' => 'modal'} x
      %h3 Make a demand 
    .modal-body
      %fieldset
        = f.input :requested_at, as: :date_picker, input_html: { class: 'span4' }
        = f.input :message, as: :text, input_html: { rows: 4, class: 'span4' }

    .modal-footer
      = f.button :submit, class: 'btn'
