= form_for User.new, url: "/demands" do |f|
  %fieldset
    .controls
      .input-append
        = f.text_field :email, {placeholder: 'Enter your E-mail'}
        = f.submit 'Invite me', class: 'btn btn-primary'
