= form_for User.new, url: "/demands" do |f|
  .controls
    .input-append
      = f.text_field :email, { placeholder: 'Request an invitation' }
      = f.submit 'Invite me', class: 'btn btn-search btn-success'
