= form_for User.new, url: "/demands" do |f|
  %fieldset
    .controls
      .input-append
        = f.text_field :email, {class: "span4 large", placeholder: 'Enter your email address...'}
        = f.submit 'Invite me', class: 'btn btn-success'
