.container
  .row
    .span6{:style => "text-align:justify"}
      %h2
        About us
      %p 
        We are a team of two developers (
        %a{:href  => "http://www.twitter.com/zaiste"}@zaiste
        &
        %a{:href => "http://www..twitter.com/albanlv"}@albanlv
        from 
        %a{:href => "http://www.nukomeet.com"}Nukomeet company
        ) and a teacher (
        %a{:href => "http://www.twitter.com/ecolepublique"}@ecolepublique 
        ). We work from home, coworking spaces, cafés, airports... wherever you can find a decent wi-fi. We are nomads who like to work in different places. It helps us boost our creativity, meet new people, and to get a fresh view point on our problems. We enjoy to work to have as well as working in group and connect with like-minded individuals.  
      %h2
        Our story
      %p 
        Because we were always hunting for new places to work, we started with a simple idea (that came from our friend 
        %a{:href => "http://www.twitter.com/ecolepublique"} @ecolepublique
        ) we just gathered adresses of cool cafés in Paris, were the wi-fi is decent and waiters are not assholes (both conditions are hard to find in the same place). Then, the idea came to us: why not open our own homes to other free-lancers/independent/entrepreneurs/squirrels and go to their places? That's how the legend was born. 
      %h2
        Where we stand now
      %p
        The app is not polished, it is not perfect, and we could add a lot of features, but it does what we wanted to : display a map with the open workplaces and the contact to get there.
      %p
        We wanted to connect the app to couchsurfing, so you can automatically fill a profile and display your level of trust (number of recommendations), but unfortunately there is no proper API to do that.
      %p
        We think there is a lot of potential in this idea, we believe in a world in which people will enjoy their work, work anywhere and use it to connect to other people and have fun. 
      %h2
        How to use this app
      %p
        Need a place to work? Browse the map, find a nice place, and request for a coworfing!
      %p
        Feeling alone? Upload your place and welcome people.
    .span5.offset1
      %p &nbsp;
      = simple_form_for(Demand.new) do |f|
        .input-append
          %p &nbsp;
          = f.input :email, label: false, input_html: {placeholder: 'Enter your email address...' }
          &nbsp;
          &nbsp;
          = f.submit 'Invite me', class: 'btn', :style => "text-align:center"
        %p &nbsp;
        %hr/
        %p &nbsp;
        %p.pull-right{:style => "margin-top:10px"}
          :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          .fb-like{"data-colorscheme" => "dark", "data-font" => "verdana", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
          %p &nbsp;  
          %a.twitter-follow-button{"data-show-count" => "false", "data-show-screen-name" => "false", :href => "https://twitter.com/coworfing"} Follow @coworfing