%hr
%h3 Want to contribute? Here are the next things to do
%p{:style => "text-align:center"} 
  %a{:href => "mailto:coworfing@gmail.com"}Contact us
  if you would like to collaborate on any of these items
%hr
%h1 Menu

%h2 Community Building 
%p Organize local events
%p Find local ambassadors 
%p Write to all the users and ask for feedback (Jérémie)
%p Spot the power users and reward them (Jérémie)
%p
%h2 Bugs

%p Request -> Demands does not work
%p Picture resizing on profiles
%p (see list on Github)
%p
%h2 Backend

%p Postgresql
%p Active record reputation system
%p Write tests 
%p
%h2 New features

%p Make one search bar for list/map/people with autocomplete with cities/names/criteria
%p Invite friends 
%p Make groups 
%p Connect with coworfers around




