.container
  .row
    &nbsp;
    %h1
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      Find a nice place and make a request. 
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      .pull-right
      = link_to 'Add your place', new_place_path, class: 'btn btn-info btn-large'
      = link_to 'FAQ', about_path, class: 'btn btn-danger btn-large'

  %hr

  .row
    %ul.thumbnails
      %li.span12
        #mapino.thumbnail
%br/

- unless user_signed_in?
  = render partial: 'shared/getting_started_modal' 
