%header#overview.jumbotron.subhead
  %h1 Coworfing 
  %p.lead 
    Coworfing is a peer-to-peer coworking network 
    = link_to 'WTF?', new_user_session_path, class: 'btn btn-danger'

= link_to 'Join the Revolution', new_user_session_path, class: 'btn btn-info btn-large'
= link_to 'Sign In', new_user_session_path, class: 'btn btn-danger btn-large'

%hr/

//= link_to 'New Entry', new_entry_path, class: 'btn btn-large'
