.row-fluid
  .span8
    %h1
      Find a nice place and make a request
  .span4
    .pull-right
      = link_to 'Add your place', new_place_path, class: 'btn btn-info btn-large'
      = link_to 'Explain me', about_path, class: 'btn btn-large'

%hr

%ul.thumbnails.row-fluid
  %li.span12
    #mapino.thumbnail

- unless user_signed_in?
  = render partial: 'shared/getting_started_modal' 
