#myModal.modal.fade.in 
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %p &nbsp;
    %h1 Coworfing
    %p Our homes are coworking spaces
  .modal-body
    %h3 Register
    %p &nbsp;
    %p We are a network of teleworker, freelancer, independant and entrepreneurs. We put in common our workplaces and home offices. 
    %p Find places to work anywhere and stop working alone. 
    %p &nbsp;
    %input{:type => "text", :name => "mail", :class => "text", :placeholder => "Your mail" }
    = link_to 'Invite me', new_user_session_path, class: 'btn btn-info btn-large'
    = link_to 'Explain me', home_about_path, class: 'btn btn-danger btn-large'
  .modal-footer
    %h3 Log in 
    %p &nbsp;
    %input{:type => "text", :name => "mail", :class => "text", :placeholder => "Mail" }
    %input{:type => "text", :name => "pass", :class => "password", :placeholder => "Password"}
    = link_to 'Login', root_path, 'data-dismiss' => 'modal', class: 'btn btn-info btn-large'
    %p &nbsp;

.container
  .row-fluid
    .span8
      #mapino
     
    .span4.sidebar
      %p
        &nbsp;
        &nbsp;
        &nbsp;
      %h3
        I am a stranger. I come in peace. Take me to your leader and there will be a massive reward for you in eternity.
  
%br/
