%header#overview.jumbotron.subhead
  %h1 Coworfing 
  %p.lead Find your working place, muuuuu! 

= link_to 'Sign Up for Coworfing', new_user_session_path, class: 'btn btn-info btn-large'

%hr/

//= link_to 'New Entry', new_entry_path, class: 'btn btn-large'
