.container
  %header.logo
    .inner
      %h1.fontface Coworfing
      %p "I am a stranger. I come in peace. Take me to your leader and there will be a massive reward for you in eternity."

  .row
    %p.centered
      %a.btn.btn-large.inception{"data-toggle" => "modal", :href => "#getting-started"} 
        Request an invitation
      = link_to 'Explain me', about_path, class: 'btn btn-danger btn-large'

  %hr

  .row
    %ul.thumbnails
      %li.span12
        #mapino.thumbnail
%br/

= render partial: 'shared/getting_started_modal' 
