.row-fluid
  .span12
    %h1
      = t('home.explanation')

%hr

%ul.thumbnails.row-fluid
  %li.span12
    #mapino.thumbnail

- unless user_signed_in?
  = render partial: 'shared/getting_started_modal' 
