.hero-unit
  .ac
    %h1 Mobile app is there!
    %p and waiting for you

.row
  .span6
    %h3 Hey, great news!
    
    %p
      Nomads should always have places within easy reach,  so
      we have published Coworfing mobile aplications. The development was led by 
      %a{:href => "http://www.twitter.com/tomkuk"}
        @tomkuk
      
      %li
        %a{:href => "https://play.google.com/store/apps/details?id=com.workshop"}
          Android
      %li iPhone
      %li Windows Phone (soon)
       
       
    %h3 Features
    
    %ul.thumbnails
      %li.span2        
        = image_tag('andr_search1.png')
        %h5 Search for places.
      %li.span2       
        = image_tag('andr_search2.png')
        %h5 Browse search results on map.
      %li.span2        
        = image_tag('andr_place.png')
        %h5 View place's description. 

  .span6
    %p
      .fr
        = image_tag('mobile.png')
     
.row
  .span12
    .fr
      %a{:href => "https://play.google.com/store/apps/details?id=com.workshop"}
        =image_tag('android_app_on_play.png')
            
      %a{:href => ""}
        =image_tag('appstore.jpg')
