%h1 Press 
%hr
%h2 Overview
%p
%hr
%h2 Team
%p
%hr
%h2 Find us
%p
  On 
  %a{:href => "http://www.facebook.com/coworfing"} Facebook
%p
  On
  %a{:href => "http://www.twitter.com/coworfing"} Twitter
%p
  On our 
  %a{:href => "http://www.coworfing.tumblr.com"} beloved blog 
%h2
