/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/ui-lightness
 *= require jquery-ui-timepicker-addon
 *= require chosen
 *= require_tree .
 *= require 'font-awesome'
*/

/*
  @import "bootstrap";
  @import 'font-awesome';
*/
/*
body {
  padding-top: 90px;  60px to make the container go all the way to the bottom of the topbar
  background-color: #EFEFEF;
  p {
    color: #625E5E;
  }
  h2 {
    color: #625E5E;
  }

}

hr {
  border-color: #DFDFDF; 
}

hr.margin {
  margin-top: 30px;
  margin-bottom: 20px;
}

.home{
  height :400px;
}

.subhead h1 {
  font-size: 54px;
}

.jumbotron h1 {
  font-family: 'Arial', cursive;
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: 1px;
  line-height: 1;
}


.centered {
  text-align: center;
}

.model-window input {
  border-radius: 5px;
  height : 28px;
  font-size: 18px;
}
.btn-primary  {
  position: relative;
  text-align: left;
}

.inception i {
  font-size: 26px;
}


.modal-footer .btn {
  float: left;
  margin-left: 0;
  margin-top: 12px;
}

ul.thumbnails.row-fluid { 
margin-left: 0px; margin-bottom: 0; }

.upcase {
  text-transform: uppercase;
}



.navbar .nav > li > a {
  font-size: 1.2em;

}

.navbar .nav > li >  a:hover{
  color: black;
}


.navbar .brand {
  letter-spacing: 2px;
  text-transform: uppercase;
}


.languages {
  padding-left: 20px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.center{
  text-align: center;
}

[class^="boolean optional icon-"], [class*="boolean optional icon-"] {
  display: none !important;
}
*/

