/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/ui-lightness
 *= require jquery-ui-timepicker-addon
 *= require chosen
 *= require home
 *= require_tree .
 *= require default
*/

@import "bootstrap";
@import 'font-awesome';

/* GLOBAL */

.thumbnail, .label {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}


#container {
  margin-top: 64px;
}

.alert-block {
  padding-top: 44px;
}

.search_btn {
  margin-top: -25px;
}
