/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap";

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.subhead h1 {
  font-size: 54px;
}

.jumbotron h1 {
  font-family: 'Lobster', cursive;
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1;
}

.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}

.centered {
  text-align: center;
}
