// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lead {
  font-size: 55px;
  letter-spacing: 1px;
}

#mapino label { width: auto; display:inline; }
#mapino img { max-width: none; }

#mapino {
  height: 500px;
}

#getting-started {
  .input-append {
  }
  input[type=text] {
    line-height: 1.4em;
    height: 32px;
    padding: 3px; 
    padding-left: 6px; 
    font-size: 16px;
  }
}

.logo h1 {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18px;
}

.logo p {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  font-style: italic;
}

@font-face {
    font-family: 'Lobster13Regular';
    src: url("<%= asset_path('/fonts/Lobster_1.3-webfont.eot') %>");
    src: url("<%= asset_path('/fonts/Lobster_1.3-webfont.eot?#iefix') %> format('embedded-opentype')"),
         url("<%= asset_path('/fonts/Lobster_1.3-webfont.woff') %> format('woff')"),
         url("<%= asset_path('/fonts/Lobster_1.3-webfont.ttf') %> format('truetype')"),
         url("<%= asset_path('/fonts/Lobster_1.3-webfont.svg#Lobster13Regular') %> format('svg')");
    font-weight: normal;
    font-style: normal;

}

.fontface {
    font: 70px/78px 'Lobster13Regular', Arial, sans-serif;letter-spacing: 0;
    color: #3C7AA3;
    text-align: center;
}
