// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
.place_requests {
  .btn-toolbar {
    margin-top: 0;
    margin-bottom: 0;
  }
}


.notification{
  float : left;
}

.masonry {
  .brick {
  }

  .icon6 {
    font-size: 300px;
  }
}

.help-block {
  font-style: italic;
  font-size: smaller;
  margin-top: 4px;
  margin-left: 5px;
  clear: both;
}

.facets {
  font-size: 18px;
}

.help-inline {
  font-style: italic;
}*/

.place_row {
  font-size: 11px;
  color: grey;

}
