// Place all the styles related to the place_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.place_requests {
  .label {
    text-transform: uppercase;
  }
}
