.hero-unit
  h1
    font-size: 48px

  p
    font-size: 24px
    margin-top: 12px
    color: #31CDFD

.btn-search
  padding: 14px 28px
  margin: 0 0 0 0 
  border-radius: 0 3px 3px 0
  -moz-border-radius: 0 3px 3px 0
  -webkit-border-radius: 0 3px 3px 0

