%p Hey hey hey! #{@resource.email}

%p Today is a great day: someone just invited you to #{root_url}, you can accept by clicking on "Get started" below.

%p 
  You can access to the public places that our selected users have decided to share. After sharing three places, you will also have access to our network of 
  %em
    private
  places...

%p= link_to 'Get started!', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token)
%hr

%p 
  If you don't want to accept the invitation, please ignore this email.<br />
  Your account won't be created until you access the link above and set your password
