.hero-unit
  %h2= title "Invite some friends"

.row
  = simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :class => "form-horizontal"} do |f|
    = f.input :email, required: false
    .controls
      = f.submit "Send an invitation", :class => "btn btn-large btn-info"
